<h1>Users List</h1>
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>UserName</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= link_to "send msg", landing_index_path(user_id: user), class: "btn btn-info" %></td>
    </tr>
  <% end %>
</table>